ul#menu_a_2livelli li ul{
    list-style-type: none;
    display: none;
}

ul#menu_a_2livelli a:hover {
    background-color: rgb(180,28,89);
    color: #ffffff;
    border:2px solid rgba(0,0,0,0.1);
    span
}


ul#menu_a_2livelli span:hover {
    background-color: rgb(180,28,89);
    color: #ffffff;
    border:2px solid rgba(0,0,0,0.1);
}

ul#menu_a_2livelli li:hover ul{
    display: block;
    position: absolute;
    z-index:1;
    width:130px;
    padding: 0;
    margin: 0 0 0 -1px;
    border:2px solid rgba(0,0,0,0.1);
    background-color: #91ce0f;
    color: rgb(180,28,89);
    font-size:.7em;
    left: 70%;
    margin-top: -17%;
    margin-left: -17%;
}
ul#menu_a_2livelli li li {
    border-bottom:1px solid rgba(0,0,0,0.1);
    width: 130px;
}



.bg-primary2 {
    color: #ffffff;
    background-color:  rgb(180,28,89);
}
.bg-primary3 {
    color: #ffffff;
    text-shadow: -0px 0px #ffffff, -1px 0px #ffffff, 0px -1px #ffffff, 0px -0px #ffffff;
    background-color:  #17b44d;
}

.destra {
    text-align: right;
}

.sinistra {
    text-align: left;
}


.basso{
    padding-top: 65px;
}

.barraverde{
    color: #ffffff;
    background-color: #17b44d;
    text-shadow: 2px 1px 4px rgba(23, 30, 30, 0.6);
}

.barraverde-impiegati{
    color: #ffffff;
    background-color: #17b44d;
    text-shadow: 2px 1px 4px rgba(23, 30, 30, 0.6);
    padding-top: 90px;
}


.barrabianca{
    background-color: #ffffff;
}


.shadow{
    text-shadow: 1px 1px 1px rgba(23, 30, 30, 0.6);
}

.btn {
    color: #ffffff;
    background-color:  rgb(180,28,89);
    margin-top: 20px;
}

.verde {
    color: #17b44d;
}

.grigio {
  /*  #fffce1 #4e4a46 #91ce0f*/
    color: #4e4a46;
    text-shadow: 1px 1px 1px rgba(27, 30, 33, 0.6);
}

.verdino {
    color: #91ce0f;
}

.center {
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.image-responsive{
    max-width: 60%; height: auto;
}

.fucsia {
    color: rgb(180,28,89);
    text-shadow: 1px 1px 1px rgba(23, 30, 30, 0.6);
}

.footer {
    text-align: center;
    background-color: #cccccc;
    text-shadow: 1px 1px 1px rgba(12, 12, 12, 0.6);
    color: #1b1e21;
    padding-bottom: 60px;
}

.footer-employee{
    text-align: center;
    background-color: #1b1e25;
    text-shadow: 1px 1px 1px rgba(12, 12, 12, 0.6);
    color: #ffffff;
    padding-bottom: 60px;
}

.stilefucsia {
    color: rgb(180,28,89);
    text-shadow: -1px 1px #ffffff, -1px 1px #ffffff, 1px -1px #ffffff, 0px -1px #ffffff;
}

.stilebianco {
    color: #333333;
    text-shadow: -2px 0 #666666, 0 2px #666666, 2px 0 #666666, 0 -2px #666666;
}

.stileverde {
    color: #17b44d;
    text-shadow: -1px 1px #ffffff, -1px 1px #ffffff, 1px -1px #ffffff, 0px -1px #ffffff;
}
.ombra {
    text-shadow: -1px 0px #ffffff, -1px 0px #ffffff, 1px -1px #ffffff, 0px -1px #ffffff;
}

.admin {
    background-image: url("../img/company.jpg");
}

.admin_update {
    background-image: url("../img/profilo_aziendale.jpg");
}

.admin_logo {
    background-image: url("../img/logo_aziendale.jpg");
}

.admin_newcompany {
    background-image: url("../img/newcompany.jpg");
}

.admin_viewcompany {
    background-image: url("../img/ours_company.jpg");
}


.admin_desc {
    background-image: url("../img/descrizione_aziendale.jpg");
}

.admin_contatti {
    background-image: url("../img/contatti_aziendali.jpg");
}

.home_employee {
    max-height: 1500px;
    background-size: cover;
    background-position: center center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.home_img{
    background-image: url("../img/home_employee.jpg");
}

.research_img{
    background-image: url("../img/find_supply.jpg");
}

.scm_img{
    background-image: url("../img/managemente-supply.jpg");
}

.scm_img2{
    background-image: url("../../img/managemente-supply.jpg");
}



.request-supply_img{
    background-image: url("../img/request-supply.jpg");
}

.supplies_img{
    background-image: url("../img/supplies.jpg");
}

.production_img{
    background-image: url("../img/production.jpg");
}

.sales_img{
    background-image: url("../img/sales.jpg");
}

.invoice_img {
    background-image: url("../img/invoice.jpg");
}

.purchase_img {
    background-image: url("../img/purchase.jpg");
}

.ean_img{
    background-image: url("../img/ean.jpg");
}

.inventories_img{
    background-image: url("../img/inventory.jpg");
}

.expires_img{
    background-image: url("../img/expires.jpg");
}

.ship_img {
    background-image: url("../img/ship.jpg");
}

.company_img{
    background-image: url("../img/company.jpg");
}

.employee_img {
    background-image: url("../img/employees.jpg");
}

.crudemployee_img {
    background-image: url("../img/crud-employee.jpg");
}

.picture_img{
    background-image: url("../img/picture.jpg");
}

.font-weight-bold{
    font-weight: bold;
}

.pulsante{
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.allerta {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding-right: 4rem;
    position: relative;
    padding: .75rem 1.25rem;
    padding-right: 1.25rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
}

.successo {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
}

.admin_home {
    padding-top: 10px; padding-bottom: 300px;
}

.page-link {
    color: #ffffff;
    background-color: rgb(180,28,89);
}

.page-link:hover {
    color: #ffffff;
    background-color: #17b44d;
}

.page-item.active .page-link {
    background-color: #17b44d;
    border-color: rgb(180,28,89);
}

.border-border-fucsia {
    border: 7px solid rgb(180,28,89);
    border-color: rgb(180, 28, 89);
    border-radius: 80%;
}
.border-border-fucsia.doppio {
    border: 10px solid rgb(180,28,89);
    border-radius: 50%;
}

.border-border-verde {
    border: 5px solid #91ce0f;
    border-color: #91ce0f;
    border-radius: 80%;
}

.border-inventory {
    border: 2px solid #91ce0f;
    border-color: #91ce0f;

}


.stileverdesenza {
    color: #17b44d;
}

.btn:hover {
  color: #ffffff;
  background-color: #17b44d;
 }

.btn.verde {
    color: #ffffff;
    background-color:  #17b44d;
    margin-top: 20px;
}

.btn.verde:hover {
    color: #ffffff;
    background-color: rgb(180,28,89);
}

.dropdown-item:hover {
    color: #ffffff;
    background-color: rgb(180,28,89);
}


.display-4 {
    color: #ffffff;
}

.display-5.registrazione {
    color: rgb(180,28,89);
    text-shadow: -1px 1px #ffffff, -1px 1px #ffffff, 1px -1px #ffffff, 0px -1px #ffffff;
}

.card-header {
    background-color: rgb(180,28,89);
}

.carousel-item {
    height: 437;
}

.margin-top {
    margin-top: 5%;
}

.carousel-inner.register {
    max-height: 800px;
    background-size: cover; background-position: center center}

.carousel-inner.register-business {
    max-height: 1500px;
    background-size: cover; background-position: center center}

.carousel-inner.register-order {
    max-height: 3000px;
    background-size: cover; background-position: center center}

.carousel-inner.purchase-order {
    max-height: 10000px;
    background-size: cover; background-position: center center}

.col-md-12.jumbotron.border.bianco {
    background-color: rgba(255,255,255, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-md-12.jumbotron.border.employee {
    background-color: rgba(255,255,255, 0.9);
    margin-top: 10px;
    margin-bottom: 5%;
    margin-left: 17%;
    margin-right: 17%;
    top: 10%;
    padding: 1%;
    padding-bottom: 2%;
    padding-right: 2%;
}

.col-md-12.jumbotron {
     background-color: rgba(255,255,255, 0.5);
     padding-top: 5px;
     padding-bottom: 5px;
}

.jumbotron.user {
    background-color: rgba(255,255,255, 0.5);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 50px;
}

.item {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.jumbotron.border.border-dark.document {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255, 0.9);
 }

.col-md-12.jumbotron-inventory {
    background-color: rgba(255,255,255, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-md-12.jumbotron-expires {
    background-color: rgba(235,235,235, 1);
    padding-top: 5px;
    padding-bottom: 5px;
}

.carousel-inner {
    max-height: 1200px;
    background-size: cover; background-position: center center;
}

.carousel-inner-maxi {
    max-height: 1400px;
    background-size: cover; background-position: center center}
}

.card-footer {
    background-color: rgb(180,28,89);
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
.animated.infinite {
    animation-iteration-count: infinite;
  }

@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInDown {
    animation-name: bounceInDown;
  }

#loading{
    width: 50px;
    height: 50px;
    border: 8px solid #91ce0f;
    border-top-color: rgb(180,28,89);
    border-radius: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: round 2s linear infinite;
}

@keyframes round {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}

}